*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #000010;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
 

@font-face{

    font-family: BerkshireSwash;
    src: url(../Fonts/BerkshireSwash-Regular.ttf);
}
@font-face{

    font-family: Itim;
    src: url(../Fonts/Itim-Regular.ttf);
}
        /* STYLE DO HEADER */
     /* ------------------------------------------------ */
header{
width: 100%; 
background-color: #202122;
padding: 30px;
height: 10px;
box-sizing: border-box;
padding-bottom: 30px;
position: sticky;
top: 0px;
z-index: 5;

}
#list{

    transform: translate(-10px, -30px)


}

img{

    transform: translateY(-50%);
}
span, sup{


    position: relative;
    bottom: 30px;
    font-weight: bold;
    font-size: 25px;
}
span{
    letter-spacing: -3px;
    right:5px;
    font-family: Itim;
    
}
sup{
    font-size: 10px;
    position: relative;
    font-weight: 10;
    bottom: 40px;
    right: 5px;
    
}


form{
    
    position: absolute;
    left: 40%;
    top: 18px;
    z-index: 1;
   
    

}

input[type="submit"]{
    position: absolute;
    transform: translate(-54px, -4px);
    padding: 10.3px;
    width: 65px;
    background-color:#474747;
    color: white;
    font-family: Itim;
    font-size: 15px;
    border: none;
    background-image: url(../assets/icons8-pesquisar-20.png);
    background-repeat: no-repeat;
    background-position: calc(50%);
    

}

input[type="text"]{
    transform: translate(-50px, -10px);
    width: 400px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #474747;


    
    
}
input[type="text"]:hover{

    background-image: url(../assets/icons8-pesquisar-20.png);
    background-repeat: no-repeat;
    background-position: calc(2%);
    padding-left: 27px;
    outline-style: solid;
    outline-color: #0000FF;
    outline-width: 2px;

}

.keyboard{
    position: absolute;
    transform: translate(-78px, 5px);

}




#micro{

    transform: translate(20px, 3px);
    background-color: black;
    border-radius: 50%;
    
    
}

#pontos{
    position: absolute;
    right: 200px;
   
}

#login{

    
    border-radius: 2px;
    color: #3c3cf7;
    border: solid 1px #2f2fd6;
    padding: 5px;
    padding-right: 10px;
    height: 30px;
    width: fit-content;
    position: absolute;
    right: 20px;
    top: 10px;
    /* transform: translate(10px, -23px); */

    
}
.content{
    transform: translateY(-10px);
}
#perfil{
    transform: translateY(10px);
}
  
      /* FINAL DO HEADER */
/* <------------------------------------------> */

                /* STYLE DA SECTION */


section{

    padding:20px ;
    padding-top: 50px;
    text-align: center;
    width: 55%;
    margin: auto;
    position: relative;
    padding-bottom: 50px;
    
    
}
video{

    box-shadow: 0px 2px 50px #ff4242;
    border-radius: 5px;
    
    
}

h3,p{
    text-align: left;
    transform: translate(50px, 25px);
    margin-top: 15px;
    
    
    
}
p{
    color: gray;
}
.icons{

    transform: translate(100px);

    
}
.icons img{
    transform: translate(10px, 5px);
    margin-right: 1px;
    
}
.b{

    padding: 15px;
    font-size: 15px;
}

footer{
    width: 50%;
    margin: auto;
    padding: 70px;
    position: relative;
    bottom: 100px;
    
}
#logo{
    transform: translateY(30px);
    border-radius: 50%;
    padding-right: 20px;
    
    
}

.name{
    position: relative;
    bottom: 30px;
    right: 5px;
}
.music{
    bottom: 20px;
}
.inscritos{
    font-weight: 100;
    color: gray;
    font-size: 14px;
    position: relative;
    right: 120px;
    bottom: 5px;

}
.inscrever{
    background-color: #ff0000;
    padding: 10px;
    border-radius: 2px;
    position: absolute;
    right: 70px;
    bottom:90px;
    

}
#final-page{
    position: relative;
    top: 20px;
    left: 100px;
    font-size: 15px;
}

.final{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 1px;
    left: 170px;
    color: #808080;
}

            /* final do footer */
        /* <---------------------------------------> */

.marcadagua{
    padding: 10px;
    text-shadow: 1px 0px #ffff;
    text-decoration: underline;
}

/* ------------------------------------------------ */




